* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fef3c7;
  --header-background: #923f0e;
  --main-background: #d87607;
}

body {
  background-color: var(--main-background);
}

#content {
  display: grid;
  gap: 20px;
}

header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--header-background);
  color: var(--text-color);
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo img {
  border-radius: 10px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

li>button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--header-background)
}

main {
  background-color: var(--main-background);
  padding: 10px;
}

.food {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width:200px;
  padding: 20px;
  color:var(--text-color);
  text-align: center;
  border: 1px solid #fffbeb;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #fffbeb;
}


fieldset {
  margin: auto;
  width: 200px;
  border: none;
  color: var(--text-color);
  border: 1px solid #fffbeb;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #fffbeb;
  padding: 10px;
}

label {
  display: block;
}

form {
  display: grid;
  gap: 10px;
}

form>button {
  color: var(--text-color);
  background-color: var(--main-background);
  padding: 5px;
  border: 1px solid #fffbeb;
  border-radius: 10px;
}

.about {
  margin: auto;
  text-align: center;
  width: 500px;
  color: var(--text-color);
  border: 1px solid #fffbeb;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #fffbeb;
}